/* Add Vazirmatn font */
@font-face {
    font-family: Vazirmatn-Regular;
    src: url('Fonts/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn-SemiBold;
    src: url('Fonts/Vazirmatn-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 16px;
    direction: rtl;
    overflow-x: hidden;
}

body {
    font-family: Vazirmatn-Regular, Tahoma, sans-serif;
}

.SC-Hide {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: calc(.5rem + 1px);
    background: linear-gradient(80deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.6));
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px
}

a {
    text-decoration: none !important;
    white-space: nowrap;
}

h1, h2, h3, h4, h5 {
    font-family: Vazirmatn-SemiBold, sans-serif;
}

img, svg {
    user-select: none;
    -webkit-user-select: none;
    transition: 0.2s
}

::selection {
    background-color: rgba(5, 81, 96, .8);
    color: rgba(255, 255, 255, .8);
}

:root {
    --Light_color1: #b95ce4;
    --Light_color2: #4f29cd;
    --Night_color1: #055160;
    --Night_color2: #4f29cd;
}

/* ---------- Header ---------- */
.header {
    color: white;
    height: 500px; /*Header Height on Desktop*/
    background: linear-gradient(166deg, var(--Light_color1), var(--Light_color2));
}

header * {
    z-index: 3;
}

.navbar {
    z-index: 5 !important;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #aaa;
}

#Night_btn {
}

.mobile_menu_btn {
    display: none;
}

.mobile_menu {
    width: 100%;
    padding: 4rem 0 0 0;
    display: block;
    visibility: hidden;
    background: black;
    position: absolute;
    top: 0;
    height: 0;
    overflow: hidden;
    transition: all .4s linear;
    z-index: 4 !important;
}

#icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#icon path {
    fill: none;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    stroke-width: 40px;
    stroke-linecap: round;
    stroke: #ccc; /*Mobile menu icon color*/
    stroke-dashoffset: 0;
}

#icon path#top,
#icon path#bottom {
    stroke-dasharray: 240px 950px;
}

#icon path#middle {
    stroke-dasharray: 240px 240px;
}

#icon.cross path {
    stroke: #ccc;
}

#icon.cross path#top,
#icon.cross path#bottom {
    stroke-dashoffset: -650px;
}

#icon.cross path#middle {
    stroke-dashoffset: -115px;
    stroke-dasharray: 1px 220px;
}

.app_image .header_img {
    width: 350px;
    height: 250px;
}

.download_btns svg:hover path, .social_logo a:hover svg path {
    transition: all .3s ease;
    fill: #333;
}

/* ---------- Wave ---------- */
.wave {
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: 2;
}

.wave:nth-child(1) {
    -webkit-clip-path: polygon(0 32%, 3% 29%, 5% 27%, 8% 25%, 10% 24%, 12% 23%, 15% 22%, 18% 22%, 21% 23%, 24% 24%, 26% 25%, 31% 28%, 35% 31%, 40% 35%, 44% 38%, 48% 41%, 53% 45%, 58% 50%, 62% 52%, 69% 54%, 76% 53%, 83% 50%, 90% 44%, 95% 39%, 100% 34%, 100% 100%, 0% 100%);
    clip-path: polygon(0 32%, 3% 29%, 5% 27%, 8% 25%, 10% 24%, 12% 23%, 15% 22%, 18% 22%, 21% 23%, 24% 24%, 26% 25%, 31% 28%, 35% 31%, 40% 35%, 44% 38%, 48% 41%, 53% 45%, 58% 50%, 62% 52%, 69% 54%, 76% 53%, 83% 50%, 90% 44%, 95% 39%, 100% 34%, 100% 100%, 0% 100%);
    background: #fff;
    transform: translateY(-115px);
}

.wave:nth-child(2) {
    -webkit-clip-path: polygon(0 32%, 3% 29%, 5% 27%, 8% 25%, 10% 24%, 12% 23%, 15% 22%, 18% 22%, 21% 23%, 24% 24%, 26% 25%, 31% 28%, 35% 31%, 40% 35%, 44% 38%, 48% 41%, 53% 45%, 58% 50%, 62% 52%, 69% 54%, 76% 53%, 83% 50%, 90% 44%, 95% 39%, 100% 34%, 100% 100%, 0% 100%);
    clip-path: polygon(0 32%, 3% 29%, 5% 27%, 8% 25%, 10% 24%, 12% 23%, 15% 22%, 18% 22%, 21% 23%, 24% 24%, 26% 25%, 31% 28%, 35% 31%, 40% 35%, 44% 38%, 48% 41%, 53% 45%, 58% 50%, 62% 52%, 69% 54%, 76% 53%, 83% 50%, 90% 44%, 95% 39%, 100% 34%, 100% 100%, 0% 100%);
    background: rgba(255, 255, 255, 0.5);
    transform: translateY(-135px) rotateY(180deg);
}

.wave:nth-child(3) {
    -webkit-clip-path: polygon(0 32%, 3% 29%, 5% 27%, 8% 25%, 10% 24%, 12% 23%, 15% 22%, 18% 22%, 21% 23%, 24% 24%, 26% 25%, 31% 28%, 35% 31%, 40% 35%, 44% 38%, 48% 41%, 53% 45%, 58% 50%, 62% 52%, 69% 54%, 76% 53%, 83% 50%, 90% 44%, 95% 39%, 100% 34%, 100% 100%, 0% 100%);
    clip-path: polygon(0 32%, 3% 29%, 5% 27%, 8% 25%, 10% 24%, 12% 23%, 15% 22%, 18% 22%, 21% 23%, 24% 24%, 26% 25%, 31% 28%, 35% 31%, 40% 35%, 44% 38%, 48% 41%, 53% 45%, 58% 50%, 62% 52%, 69% 54%, 76% 53%, 83% 50%, 90% 44%, 95% 39%, 100% 34%, 100% 100%, 0% 100%);
    background: rgba(255, 255, 255, 0.25);
    transform: translateY(-130px);
}

.wave2 {
    position: absolute;
    width: 100%;
    height: 100px;
    clip-path: polygon(100% 0%, 0% 0%, 0% 45.50%, 1% 45.65%, 2% 46.09%, 3% 46.82%, 4% 47.82%, 5% 49.08%, 6% 50.58%, 7% 52.30%, 8% 54.20%, 9% 56.26%, 10% 58.45%, 11% 60.72%, 12% 63.04%, 13% 65.38%, 14% 67.70%, 15% 69.96%, 16% 72.12%, 17% 74.16%, 18% 76.03%, 19% 77.70%, 20% 79.16%, 21% 80.38%, 22% 81.33%, 23% 82.01%, 24% 82.40%, 25% 82.50%, 26% 82.29%, 27% 81.80%, 28% 81.02%, 29% 79.97%, 30% 78.66%, 31% 77.12%, 32% 75.37%, 33% 73.43%, 34% 71.35%, 35% 69.15%, 36% 66.86%, 37% 64.53%, 38% 62.19%, 39% 59.88%, 40% 57.64%, 41% 55.50%, 42% 53.49%, 43% 51.65%, 44% 50.01%, 45% 48.60%, 46% 47.43%, 47% 46.52%, 48% 45.90%, 49% 45.56%, 50% 45.52%, 51% 45.77%, 52% 46.32%, 53% 47.15%, 54% 48.25%, 55% 49.60%, 56% 51.18%, 57% 52.97%, 58% 54.93%, 59% 57.04%, 60% 59.26%, 61% 61.56%, 62% 63.89%, 63% 66.23%, 64% 68.53%, 65% 70.76%, 66% 72.88%, 67% 74.85%, 68% 76.66%, 69% 78.26%, 70% 79.63%, 71% 80.76%, 72% 81.61%, 73% 82.19%, 74% 82.47%, 75% 82.46%, 76% 82.15%, 77% 81.55%, 78% 80.67%, 79% 79.52%, 80% 78.13%, 81% 76.51%, 82% 74.69%, 83% 72.69%, 84% 70.56%, 85% 68.33%, 86% 66.02%, 87% 63.68%, 88% 61.35%, 89% 59.06%, 90% 56.85%, 91% 54.75%, 92% 52.80%, 93% 51.03%, 94% 49.47%, 95% 48.14%, 96% 47.07%, 97% 46.26%, 98% 45.74%, 99% 45.51%, 100% 45.58%);
    transform: translateY(-63px) rotateX(180deg);
    background: white;
}

/* ---------- Sections ---------- */
.sections div {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    z-index: 3;
}

.section {
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(0, 0, 0, 0.05),
    -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 3;
}

.sections div .section .section_text {
    color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.sections div:hover .section {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    background: linear-gradient(180deg, var(--Light_color1), var(--Light_color2));
    color: #fff;
}

.sections div:hover .section .section_text {
    color: rgba(255, 255, 255, 0.5);
}

.sections div:hover .section svg path {
    fill: #fff;
}

/* ---------- Attributes ---------- */
.attributes, .Q_A {
    background: rgba(100, 100, 100, 0.1);
    padding: 1.2rem 0;
}

.left_attr, .right_attr {
    margin: 1.2rem 0;
}

.right_attr:hover .right_attr_image svg, .left_attr:hover .left_attr_image svg, .section:hover svg {
    transform: scale(1.2);
}

.right_attr_image, .left_attr_image {
    background: #281485;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
}

/* ---------- Video ---------- */
.Video {
    position: relative;
    height: auto;
    overflow: hidden;
}

.video_gradiant {
    position: absolute;
    background: linear-gradient(166deg, var(--Light_color1), var(--Light_color2));
    opacity: .9;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-in;
}

#Video_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    padding: .7rem;
    border-radius: 50%;
}

.Video video {
    width: 100%;
    height: auto;
}

.play, .Night .play {
    background: transparent !important;
}

/* ---------- Tariffs ---------- */
.panel {
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(0, 0, 0, 0.05),
    -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

.panel .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.panel:hover .box {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, var(--Light_color1), var(--Light_color2));
}

.panel .box .content {
    padding: 20px;
    text-align: center;
}

.panel .box .content h2 {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 4em;
    color: rgba(0, 0, 0, 0.08);
    transition: 0.5s;
    pointer-events: none;
}

.panel:hover .box .content h2 {
    color: rgba(0, 0, 0, 0.5);
}

.panel .box .content h3 {
    font-size: 5.8em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.panel:hover .box .content h3, .panel:hover .box .content p {
    color: #fff;
}

.panel .box .content p {
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.panel .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.panel:hover .box .content a {
    background: #ff568f;
}

/* ---------- FAQ ---------- */
.Q_A_panel {
    background: rgba(255, 255, 255, 0.4);
    padding: .9rem;
}

/* ---------- Team ---------- */
.member {
    height: 130px;
    transition: 0.2s;
}

.member_img {
    position: relative;
    border-radius: 1.5rem;
    width: 80px;
    height: 80px;
    background: #fff;
    background-size: cover;
    transition: all 0.2s;
}

.member_img::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 1.5rem;
    filter: blur(15px);
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

.member:hover .member_img {
    background-size: 110%;
}

/* ---------- Footer ---------- */
.Footer {
    color: #fff;
    background: var(--Light_color1);
    height: 40vh;
}

.footer-wave {
    z-index: 2;
    transform: translateY(4px);
}

.footer-wave path {
    fill: var(--Light_color1);
}

.social_link {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}

.social_link:hover {
    border-color: #333;
}

/* ---------- DarkMode ---------- */
.Night img {
    filter: brightness(75%)
}

.Night, .Night .wave:nth-child(1), .Night .wave2 {
    background: #16213E; /*Dark mode background*/
}

.Night .wave:nth-child(2) {
    background: #16213Eaa;
}

.Night .wave:nth-child(3) {
    background: #16213E55;
}

.Night, .Night h1, .Night h2, .Night h3, .Night h4, .Night h5 {
    color: white; /*Text color*/
}

.Night .panel:hover .box, .Night .sections div:hover .section {
    background: linear-gradient(0deg, var(--Night_color1), var(--Light_color2));
}

.Night header, .Night .video_gradiant {
    background: linear-gradient(166deg, var(--Night_color1), var(--Light_color2));
}

.Night #Night_btn svg path, .Night #Night_btn svg rect, .Night #Night_btn svg ellipse {
    fill: #ffc720; /*Sun icon color*/
}

.Night .download_btns svg:hover:not(.download_btns .btn svg) path, .Night .social_logo a:hover svg path {
    fill: #E94560;
}

.Night .text-black-50, .Night .section_text, .Night .panel:hover .box .content h2 {
    color: rgba(255, 255, 255, .5) !important;
}

.Night .panel .box .content h2 {
    color: rgba(255, 255, 255, .08) !important;
}

.Night .sections div, .Night .panel .box {
    box-shadow: 0 10px 20px rgba(15, 52, 96, 0.8);
}

.Night .section, .Night .panel {
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(15, 52, 96, 0.5),
    5px 5px 5px rgba(0, 0, 0, 0.05),
    -5px -5px 5px rgba(15, 52, 96, 0.5);
}

.Night .attributes, .Night .Q_A {
    background: #172547;
}

.Night .panel .box .content a {
    background: #E94560;
}

.Night .Q_A_panel {
    background: rgba(15, 52, 96, 0.5);
}

.Night .social_logo a:hover {
    border-color: #E94560;
}

.Night .Footer {
    background: var(--Light_color2);
}

.Night .footer-wave path {
    fill: var(--Light_color2);
}

/*ltr mode style*/
.page_ltr, .page_ltr body {
    direction: ltr !important;
}

.page_ltr .Q_A_boxs {
    flex-direction: row-reverse !important;
}

.page_ltr .Team .member {
    flex-direction: row-reverse !important;
}

.page_ltr .left_attr {
    flex-direction: row-reverse
}


@media (max-width: 767px) {
    header {
        height: 100vh !important; /*Header height in Mobile*/
    }

    .app_image .header_img {
        width: 220px;
        height: auto;
    }

    .desktop_menu {
        display: none;
    }

    .mobile_menu_btn {
        display: block;
    }

    .mobile_menu.active {
        visibility: visible;
        height: 100%;
    }

    .wave:nth-child(3) {
        display: none;
    }

    .left_attr:not(.page_ltr .left_attr) {
        flex-direction: row-reverse !important;
    }

    .pricing_panel {
        justify-content: center !important;
        flex-wrap: wrap;
    }

    .social_logo {
        width: 100% !important;
    }
}


@media (max-width: 1024px) and (min-width: 768px) {
    .left_attr:not(.page_ltr .left_attr) {
        flex-direction: row-reverse !important;
    }

    .social_logo {
        width: 50% !important;
    }
}